<div>
    <h1>Veegalicious</h1>
    <h3>Search for delicious, vegan recipes!</h3>
        
    <form ng-submit="search()">
        <div class="form-group">
            <div class="input-group">
            <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></span>
            </div>
        </div>
    </form>          
        
          
    <div ng-if="recipes.hits.length">
        <p>Results from {{ recipes.from }} to {{ recipes.to }}</p>
        
        <div ng-repeat="hit in recipes.hits">
            <h3><a target="_blank" href="{{hit.recipe.url}}">{{hit.recipe.label}}</a></h3>
            <p ng-if="isSaved(hit)">
              Saved.
            </p>
            <button class="btn btn-default" ng-click="saveRecipe(hit)"><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red"></span></button>
        </div>
             
        
        
        <!--<ul>
            <li ng-repeat="hit in recipes.hits">
              <a target="_blank" href="{{hit.recipe.url}}">{{hit.recipe.label}}</a>
            </li>
        </ul>-->
        
        <button class="btn btn-primary" ng-click="prevPage()" ng-disabled="currentPage == 0">Prev</button>
        <button class="btn btn-primary" ng-click="nextPage ()">Next</button>
    </div>    
  
</div>  